
@{
    ViewData["Title"] = "_Menu";
}

<div class="interactive-panel">
    <div class="notification-panel">
        <div class="panel-text">Уведомления</div>
        <div id="noNotificationBlock" class="no-notification-block">Пока что их нет :)</div>
    </div>
</div>

