/*"Подвал" настольной версии*/
.footer-desktop {
    margin: 20px 0px 0px 0px;
}
.footer-desktop-layout {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: grey;
    width: 100%;
}
.footer-desktop-hr {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 1px;
    width: 1077px;
    margin: 0px 0px 6px 0px;
}
.footer-desktop-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1077px;
}
.feedback {
    outline: none;
}
.donate {
    color: grey;
    text-decoration: none;
}

/*"Подвал" мобильной версии*/
.footer-mobile {
    display: none;
}

@media screen and (max-width:1160px) {
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        background-color: white;
        text-decoration: none;
        position: fixed;
        bottom: 0;
        left: 0;
        /*6 dp*/
        box-shadow: 0 -6px 10px 0 rgba(0,0,0,0.14), 0 -1px 18px 0 rgba(0,0,0,0.12), 0 -3px 5px 0 rgba(0,0,0,0.20);
        width: 96%;
        height: 50px;
        padding: 0% 2% 0% 2%;
        display: flex;
    }
    .footer-mobile-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-mobile-buttons-left-column {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer-mobile-buttons-right-column {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}
