@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using litclassic.Models.ParticleModels

<form asp-action="Index" asp-controller="Particle" asp-anti-forgery="true">
    @foreach (Particle particle in ViewBag.Particles)
    {
        <h2>Текст "частицы"</h2>

        <div class="black-label-main-content">
            @foreach (var line in particle.BodyLines)
            {
                <p>@line</p>
            }
        </div>

        <h2>Сведения о "частице"</h2>

        <div class="black-label-main-content">
            <p>@particle.Title</p>
        </div>
    }
</form>