@using litclassic.Models.ParticleModels

@{
    ViewData["Title"] = "Particles";
}

<div class="main">
    <div class="main-panel">

        <h1>Случайная "частица"</h1>

        <form asp-action="Index" asp-controller="Particle" asp-anti-forgery="true">
            @foreach (Particle particle in ViewBag.Particles)
            {
                <h2>Текст "частицы"</h2>

                <div class="black-label-main-content">
                    @foreach (var line in particle.BodyLines)
                    {
                        <p>@line</p>
                    }
                </div>

                <h2>Сведения о "частице"</h2>

                <div class="black-label-main-content">
                    <p>@particle.Title</p>
                </div>
            }
        </form>

    </div>
    @Html.Partial("_Menu")
</div>

