@{
    ViewData["Title"] = "Particles";
}

<link href="~/css/Particle/Particle.min.css" rel="stylesheet" />

<div class="main">
    <div class="main-panel">

        <h1>Случайные "частицы"</h1>

        <div id="particleScrollList">
            @Html.Partial("_Particle")
        </div>

        @*блок для обозначения процесса загрузки новых "частиц"*@
        <div id="loading">ЗАГРУЗКА</div>

    </div>
    @Html.Partial("_Menu")
</div>

@*FROM https://metanit.com/sharp/articles/mvc/15.php*@
@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@
@*@section Scripts{*@
<script type="text/javascript">
    $(function () {

        // переменная, показывающая началась лишь сейчас загрузка "частиц"
        // переменная, которая содержит высоту страницы на предыдущей фазе загрузке "частиц"
        // загружать "частицы", если уже не загружаются новые, а также тогда, когда ползунок
        // прошёл высоту страницы предыдущей фазы

        var loading;

        function loadMoreParticles() {
            // обозначает начало процесса подгрузки "частиц"
            loading = true;
            $.ajax(
                {
                    type: 'GET',
                    url: '/Particle/ForInfiniteScrolling',
                    contentType: 'html',
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#particleScrollList").append(data);
                        }
                        else {
                            page = -1;
                        }
                        $("#loading").hide();
                        // обозначает завершения процесса подгрузки "частиц"
                        loading = false;
                    }
                });
        };

        // обработка события скроллинга
        $(window).scroll(function () {
            if (($(window).scrollTop() + $(window).height() > $(document).height() - 40) && (!loading)) {
                loadMoreParticles();
            }
        });
    });
</script>

