<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LITCLASSIC - система привлечения внимания к русской классической художественной литературе</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="apple-touch-icon" href="Content/icons/fav-apple-icon.png" />
    <link rel="icon" type="image/png" href="Content/icons/favicon.png" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <header>
        @*Шапка*@
        <div class="header">
            @*Разделы сайта*@
            <div class="header-sections">
                <div class="link-button">
                    <a asp-controller="account" asp-action="Login">
                        <div class="link-button-text">АВТОРИЗАЦИЯ</div>
                    </a>
                </div>
                <div class="link-button">
                    <a asp-controller="words" asp-action="Index">
                        <div class="link-button-text">СЛОВАРЬ</div>
                    </a>
                </div>
                <div class="link-button">
                    <a asp-controller="particles" asp-action="Index">
                        <div class="link-button-text">"ЧАСТИЦЫ"</div>
                    </a>
                </div>
            </div>
            @*Логотип и название сайта*@
            <div class="header-logo">
                <a asp-controller="Home" asp-action="Index"><div class="header-logo-text">LITCLASSIC </div></a>
            </div>
            @*Ссылки*@
        <div class="header-links">
            <div class="link-button">
                <a href="https://t.me/litclassicbot" target="_blank">
                    <div class="link-button-text">TELEGRAM</div>
                </a>
            </div>
            <div class="link-button">
                <a href="https://vk.com/litclassic" target="_blank">
                    <div class="link-button-text">VK</div>
                </a>
            </div>
        </div>
        </div>
    </header>

    @*Контент*@
    <div class="main-content">
        @RenderBody()
    </div>

    @*Подвал*@
    <div class="footer-desktop">
        <div class="footer-desktop-layout"><div class="footer-desktop-hr"></div></div>
        <div class="footer-desktop-layout">
            <div class="footer-desktop-row">
                <div class="year">2018 - @DateTime.Now.Year</div>
                <div class="version">LITCLASSIC - v0.3.3(11)</div>
                <div class="feedback">Баги и отзывы отправляйте по адресу: feedback@litclassic.com</div>
                <a href="https://yasobe.ru/na/litclassic" target="_blank" class="donate" runat="server">Помощь проекту</a>
            </div>
        </div>
    </div>
</body>
</html>
